<%= form_with(model: post) do |form| %>
  <div class="modal-body">
    <%= render "form_errors", post: post %>

    <div class="form-group">
      <% title_error = post.errors[:title].any? ? 'is-invalid' : '' %>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: "form-control #{title_error}" %>
    </div>

    <div class="form-group">
      <% published_error = post.errors[:body].any? ? 'is-invalid' : '' %>
      <%= form.label :body, style: "display: block" %>
      <%= form.rich_text_area :body, class: "form-control #{published_error}" %>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.button type: 'button',
                    class: 'btn btn-danger',
                    data: {
                      controller: 'tooltip',
                      'bs-dismiss': 'modal',
                      'bs-toggle': 'tooltip',
                      'bs-placement': 'top',
                      'bs-title': 'Close'
                    } do %>
      <i class="bi bi-x-circle"></i> Close
    <% end %>
    <%= form.button type: 'submit',
                    class: "btn btn-primary",
                    data: {
                      controller: 'tooltip',
                      'bs-dismiss': 'modal',
                      'bs-toggle': 'tooltip',
                      'bs-placement': 'top',
                      'bs-title': 'Save',
                      'disable-with': 'Saving...'
                    } do %>
      <i class="bi bi-save"></i> Save
    <% end %>
  </div>
<% end %>
